{% extends 'base.html' %}
{% block content %}
<section id="one" class="main style1">
    <div class="container">
        <div class="row gtr-150">
            <div class="container">
                <h2>pnu에서 지번으로 변환하기</h2>
                <form action="{% url 'conversion:jresult' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="pnu">pnu 19자리를 입력하세요</label>
                        <input type="text" class="form-control" name="pnu" id="pnu" placeholder="숫자 19자리" required>
                    </div><br>
                    <input type="submit" value="제출" class="btn btn-outline-primary">
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}